[submodule ".repos/effect"]
	path = .repos/effect
	url = https://github.com/Effect-TS/effect-smol.git
[submodule ".repos/dmmulroy-dotfiles"]
	path = .repos/dmmulroy-dotfiles
	url = https://github.com/dmmulroy/.dotfiles.git
[submodule ".repos/edusantosbrito-pi-dotfiles"]
	path = .repos/edusantosbrito-pi-dotfiles
	url = https://github.com/EduSantosBrito/pi-dotfiles.git
[submodule ".repos/opencode"]
	path = .repos/opencode
	url = https://github.com/anomalyco/opencode
[submodule ".repos/codex"]
	path = .repos/codex
	url = https://github.com/openai/codex.git
[submodule ".repos/pi-subagents"]
	path = .repos/pi-subagents
	url = https://github.com/tintinweb/pi-subagents
[submodule ".repos/pi-openai-server-compaction"]
	path = .repos/pi-openai-server-compaction
	url = https://github.com/algal/pi-openai-server-compaction.git
