[submodule ".repos/effect"]
	path = .repos/effect
	url = https://github.com/Effect-TS/effect-smol.git
[submodule ".repos/dmmulroy-dotfiles"]
	path = .repos/dmmulroy-dotfiles
	url = https://github.com/dmmulroy/.dotfiles.git
[submodule ".repos/edusantosbrito-pi-dotfiles"]
	path = .repos/edusantosbrito-pi-dotfiles
	url = https://github.com/EduSantosBrito/pi-dotfiles.git
